MSSQL_SA_PASSWORD=1337passwordpenis
JWT_SECRET=password_32_characters_long_aaaaaaaaa
DB_CONNECTION_STRING=ConnectionStrings__DefaultConnection=Server=mssql;Database=Broke-ManagerDb;User Id=sa;Password=${MSSQL_SA_PASSWORD};TrustServerCertificate=true;