# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=root
POSTGRES_PASSWORD=MyPassword123!
POSTGRES_DB=broke_manager

# Must match the variables above
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=broke_manager;Username=root;Password=MyPassword123!;Trust Server Certificate=true

# PgAdmin
PGADMIN_EMAIL=admin@broke-manager.de
PGADMIN_PASSWORD=Admin123!